@model Filmative.Models.Movie

@{ 
    ViewData["Title"] = "Api Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Api View</h1>

    <ul>
        <li><img src=" @Url.Content(Model.Image)" /></li>
        <li>Title: @Html.DisplayFor(model => model.Title)</li>
        <li>Director: @Html.DisplayFor(model => model.Director)</li>
    </ul>
</div>