@model IEnumerable<Filmative.Models.Movie>

@{ 
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie List</h2>
<h4>@Html.DisplayNameFor(model => model.Title)</h4>
<ul>
    @foreach(var movie in Model)
    {
        <li>@Html.DisplayFor(modelMovie => movie.Title)</li>

    }
</ul>