@model IEnumerable<Filmative.Models.Movie>

@{ 
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info">
    <h2>Here's a Buncha Movies!</h2>
    <ul>
            @foreach (var movie in Model)
            {
                <li>
                    <a id="DetailLink" href="~/Movies/Details/@movie.MovieId">
                    <img src="@Url.Content(movie.Image)" alt="Poster" />
                    </a>
                </li>
                <li><hr /></li>
            }
    </ul>

    <p>@Html.ActionLink("Add a Title", "Create")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>