@model IEnumerable<Filmative.Models.Movie>

@{ 
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Here's a Buncha Movies!</h2>
    <ul>
            @foreach (var movie in Model)
            {
                <li><img src="@Url.Content(movie.Image)" /></li>
                <li>@Html.ActionLink("Details", "Details", new { id = movie.MovieId })</li>
                <li><hr /></li>
            }
    </ul>

    <p>@Html.ActionLink("Add a Title", "Create")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>