@model IEnumerable<Filmative.Models.Movie>

@{ 
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies: </h2>
<ul>
    @foreach(var movie in Model)
    {
        <li>@Html.DisplayFor(modelMovie => movie.Title) | @Html.ActionLink("Details", "Details", new { id = movie.MovieId })</li>
    }
</ul>
