@model IEnumerable<Filmative.Models.Movie>

@{ 
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="media-grid">
    <div class="row">
        <div class="clearfix">
            @foreach (var movie in Model)
            {
                <ul>
                    <li>
                        <div class="pull-left col-xs-3">
                            <a id="DetailLink" href="~/Movies/Details/@movie.MovieId" class="thumbnail" height="200">
                                <img src="@Url.Content(movie.Image)" id="poster-page" alt="Poster" />
                            </a>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
    <p>@Html.ActionLink("Add a Title", "Create")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>