@model IEnumerable<Filmative.Models.Score>

@using System.Security.Claims

@{ 
    ViewData["Title"] = "Scores, Yo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Scores for @User.Identity.Name</h2>




<p>@Html.ActionLink("Home", "Index", "Home")</p>