body {
    background-image: url("../Images/Reels.jpg");
    color: darkslateblue;
    padding-top: 70px;
}

.logo {
    height: 40px;
    width: auto;
    padding-top: 18px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px;
    }

    .navbar-fixed-top.navbar-brand {
        padding: 18px 0;
    }
    
    .logo {
        height: 50px;
        width: auto;
    }
}

li {
    list-style-type: none;
    padding-top: 5px;
}

.jumbotron {
    margin-top:150px;
    background-color: antiquewhite;
}

.info {
   background-color: antiquewhite;
   margin-top: 150px;
}