@{ 
    ViewData["Title"] = "Filmative";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.ajax-test').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("TestAjax")',
                success: function (result) {
                    $('#result1').html(result);
                }
            });
        });
    });
</script>

<h1>Welcome to Filmative!</h1>
<hr />

<div class="rows">
    <div class="col-md-2">
        <button class="btn btn-default">@Html.ActionLink("Browse Movies", "Index", "Movies")</button>
    </div>
    <hr />
    <div class="col-md-2">
        <button class="btn btn-default">@Html.ActionLink("Checkout Scores", "Index", "Scores")</button>
    </div>
</div>
<hr />
<div>
    <h2>AJAX Test</h2>
    <h4 class="ajax-test">Click here to check AJAX</h4>
    <div id="result1"></div>
</div>
  