@model Filmative.Models.User

@{ 
    ViewData["Title"] = "Create Filmative Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New User:</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.UserName)
    <br />
    @Html.TextBoxFor(model => model.UserName)
    <button class="btn btn-default" input type="submit">Generate Profile</button>
}
<hr />
<button class="btn btn-default">@Html.ActionLink("Home", "Index", "Home")</button>

