@model Filmative.Models.User

@{ 
    ViewData["Title"] = @Html.DisplayFor(model => model.UserName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.UserName) </h2>
<hr />
<h3>I'm trying to figure out how to get Movie information in here.  Not sure how to do it...It involves viewing two models from different Folders.</h3>
<hr />
<p>@Html.ActionLink("User List", "Index")</p>
<p>@Html.ActionLink("Delete User", "Delete", new { id = Model.UserId })</p>